body {
    background-color: rgb(187, 230, 241);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container > div {
    margin: 100px auto;
    width: 250px;
    height: 400px;
    background-color: rgb(12, 156, 167);
    border: 2px solid black;
    border-radius: 45px;
}

.city-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.city-name {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.city-temp,
.feels-like {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
}

.card-head {
    background-color: rgb(187, 230, 241); 
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;

}

button {
    width: 100px;
    height: 30px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}